<!-- 
<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let blogdata of UserData">
        <div class="blog-box">
          <img src="assets/images/img4.jpg" alt="blog1" />
          <h3>{{blogdata.author}}</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>October 22, 2018 </p>  
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
     
      
      
      
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img6.jpg" alt="blog1" />
          <h3>Sample blog post 6</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>  
  </div>
</section> -->

<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="blog-box">
          <img src="assets/images/img4.jpg" alt="blog1" />          <h3>{{blog.title}}{{blog._id}}</h3>
          <p>by <span>{{blog.author}}</span> on <span>{{blog.created_at | date:'mediumDate'}}</span></p>
          <p>{{blog.short_desc}}</p>
          <a [routerLink]="['/blogDetail', blog._id]" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
    </div>
  </div>
  
</section>

