
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1> Sub Category Name</h1>
          <!-- <div class="posted-on">
              <p>by <span>RSGiTECH</span> on <span>{{created_at}}</span></p>
          </div> -->
          <div class="col-md-12">
          <div class=" col-md-6 detail-img example "*ngFor="let data of SubCategory">
             <img class="imgSize" src="{{data.imageUrl}}" alt="blog1" />
             <h3 class="blog-box fadedbox ">{{data.Subcategory}} </h3>
          </div>
          <!-- <div class=" col-md-6 detail-img">
            <img class="imgSize" src="assets/images/img4.jpg" alt="blog1" />
         </div> -->
        </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <app-blogpost-recent></app-blogpost-recent>
        <!-- <app-categories></app-categories> -->
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
    </div>
  </div>
</section>
