.detail-img{
    float: left!important;
}
.imgSize{
width: 100%!important;
}
.example {
    cursor: pointer;
    /* height: 300px; */
    height: auto;
    position: relative;
    overflow: hidden;
    /* width: 400px; */
    width: auto;
    text-align: center;
    }
    .example .fadedbox {
    /* background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px; */
    background-color: #9a9696;
    position: absolute;
    top: 0%;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    padding-top: 30%;
   

    opacity: 0;
    width: 100%;
    font-size: 1em;
    /* padding: 17%; */
    height: 100%;
    }
    .example:hover .fadedbox { opacity: 0.8; }
    .example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    }
    .example .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    }
    .example:hover .title,
    .example:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    }

    