


<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-left">
              <div class="col-md-3 customLeft">
                  <div class="section-box-nine ">
                      <!---->
                      <figure>
                          <h3>Mak</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a class="btn btn-read">Read More</a>
                      </figure>
                      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive"/>
                  </div> 
                  <a  class="btn btn-danger">Read more...</a>          
            </div>
            
          </div>
          <div class="blog-left">
              <div class="col-md-3 customLeft">
                  <div class="section-box-nine ">
                      <!---->
                      <figure>
                          <h3>Mak</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a class="btn btn-read">Read More</a>
                      </figure>
                      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive"/>
                  </div> 
                  <a  class="btn btn-danger">Read more...</a>          
            </div>
            
          </div>
          <div class="blog-left">
              <div class="col-md-3 customLeft">
                  <div class="section-box-nine ">
                      <!---->
                      <figure>
                          <h3>Mak</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a class="btn btn-read">Read More</a>
                      </figure>
                      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive"/>
                  </div> 
                  <a  class="btn btn-danger">Read more...</a>          
            </div>
            
          </div>
          <div class="blog-left">
              <div class="col-md-3 customLeft">
                  <div class="section-box-nine ">
                      <!---->
                      <figure>
                          <h3>Mak</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a class="btn btn-read">Read More</a>
                      </figure>
                      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive"/>
                  </div> 
                  <a  class="btn btn-danger">Read more...</a>          
            </div>
            
          </div>

          <div class="blog-left">
              <div class="col-md-3 customLeft">
                  <div class="section-box-nine ">
                      <!---->
                      <figure>
                          <h3>Mak</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a class="btn btn-read">Read More</a>
                      </figure>
                      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive"/>
                  </div> 
                  <a  class="btn btn-danger">Read more...</a>          
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <!-- <app-blogpost-recent></app-blogpost-recent> -->
          <!-- <app-categories></app-categories> -->
        </div>
      </div>
      <div class="service-error" *ngIf="error">
        <h1>{{error.errorTitle}}</h1>
        <h3>{{error.errorDesc}}</h3>
      </div>
    </div>
  </section>