<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<app-banner *ngIf="router.url == '/'"></app-banner>
<app-blogpost-featured *ngIf="router.url == '/'"></app-blogpost-featured>
<router-outlet></router-outlet>
<app-footer></app-footer>
 





