
<div class="right-widget recent-post">
  <h3>Main Category</h3>
  <a href="#"  *ngFor="let blog of blogpostRecent">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="{{blog.imageUrl}}" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>{{blog.MainCateory}}</h4>
              <!-- <p>{{blog.created_at | date:'mediumDate'}}</p> -->
          </div>
      </div>
  </a>
 
</div>
